<div class="mat-elevation-z8 data-table">
<mat-table [dataSource]="dataSource" matSort>
    <!-- Id Column -->
    <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>RUN ID</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Outcomes</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="something">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Something</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.something}}</mat-cell>
    </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
</div>


<!-- class="mat-elevation-z8" -->