 <body>
    <nav>
        <div class = "logo">
            <h1>Mapradish Nav</h1>
        </div>
        <ul class="nav-links">
            <li>
                <a href="https://www.google.com">Home</a>
            </li>
            <li>
                <a href="https://www.facebook.com">Run</a>
            </li>
            <li>
                <a href="#">Reports</a>
            </li>
            <li>
                <a href="#">Analysis</a>
            </li>
            <li>
                <a href="#">Compare</a>
            </li>
            <li>
                <a href="#">Prepare</a>
            </li>
            <li>
                <a href="#">Setup</a>
            </li>
            <li>
                <a href="#">Help</a>
            </li>
            <li>
                <a href="#">Signout</a>
            </li>
        </ul>
        <div class="burger">
            <div class="line1"></div> 
            <div class="line2"></div> 
            <div class="line3"></div> 
        </div>
    </nav>
    <script src="../scripts/navbar.js"></script>
<div>
    <router-outlet></router-outlet>
</div>
</body>
