.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap; /* assumes you only want one row */
    margin: 0;
  }


.navbar-nav > li{
    margin-left: 0em;
    margin-right: 0em;
    padding-left:10px;
    padding-right:20px;
    padding-top: 0px;
    margin: 0;
  }

.navbar{
    padding-top: 0px;
    padding-bottom: 0;
    margin: 0;
    margin-bottom: 0;
}

.spacer {
    flex: 1 1 auto;
  }

.container-fluid{
    margin: 0;
    padding-top: 0px;
    padding-bottom: 0;
}