<!-- <div [chart] ="chart"></div> -->
<div *ngIf="isLoaded">Text to show</div>
<div class="wrapper3" >
        <select class='select-option'
        #mySelect
        (change)='onOptionsSelected(mySelect.value)'>
       <option class='option' 
       *ngFor='let option of outcomed' 
       [value]="option.name">{{option.name}}</option>
    </select>
</div>

Here is the Outcome Topic you pick: -> {{outcomeName}}
<!-- <div>   
        pie chart
        <div id="chartContainer1" style="height: 500px; width: 100%;"  >
                <div class="loader"></div>
        </div>
        column chart
        <div id="chartContainer2" style="height: 500px; width: 100%;">
                <div class="loader"></div>    
        </div>
</div> -->

<div id="chartContainer3" style="height: 500px; width: 100%;">
        <div class="loader"></div>
        <!-- </div> -->
</div>

<div class="wrapper">
    <button mat-raised-button class = "map_btnn" routerLink="/bloop">Return to previous page</button>
</div>