<!-- <div [chart] ="chart"></div> -->
<div *ngIf="isLoaded">Text to show</div>
<div class="wrapper3" >
        <mat-form-field>
            <mat-label>Select a Run</mat-label>
            <mat-select disableRipple  [(ngModel)]="runchoice" (change)="selectChangeHandler($event)"> 
                    <mat-option *ngFor="let item of outcomed"  [value]="item.name">{{item.name}}</mat-option>
            </mat-select>
        </mat-form-field>
</div>
Here is the information of Outcome Topic: -> {{runchoice}}
<div>   
        pie chart
        <div id="chartContainer1" style="height: 500px; width: 100%;"  ></div>
        column chart
        <div id="chartContainer2" style="height: 500px; width: 100%;"></div>
</div>


<div class="wrapper">
    <button mat-raised-button class = "map_btnn" routerLink="/bloop">Return to previous page</button>
</div>