<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>



<!-- Here is the Outcome Topic you pick: -> {{outcomeName1}} -->
<div *ngIf="!loadingdata">
        <div class="wrapper"><h1>....Loading....</h1></div>
        <div class="loadspace">
        <div class="loader"></div>
        </div>
</div>
<div *ngIf="loadingdata">
        <div  class="btn btn-secondary dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <select class='select-option' #mySelect (change)='onOptionsSelected(mySelect.value)'>
        <option class='option' *ngFor='let item of outcomed' [value]="item.name">{{item.name}}</option>
        </select>
        </div>
</div>

<div *ngIf='checkpickup' class="btn btn-secondary dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <select class='select-option' #mySelect (change)='onOptionsSelected1(mySelect.value)'>
               <option class='option' *ngFor='let item of outcomed' [value]="item.name">{{item.name}}</option>
            </select>
</div>

<div *ngIf='checkpickup && checkpickup1'>
        <div *ngIf ="outcomeName1!=outcomeName2">
                <div>
                        <mat-radio-group [(ngModel)]="checkdetail" >
                                <mat-radio-button class = "radiospace" value="chart">Column</mat-radio-button>
                                <mat-radio-button class = "radiospace" value="Max" >Max </mat-radio-button>
                                <mat-radio-button class = "radiospace"  value="Avg" >Average </mat-radio-button>
                        </mat-radio-group>
                </div>
                <div *ngIf='checkdetail === "Max"'> <p>The Max Score of first Event is: {{Maxvalue1[0].label}} -> {{Maxvalue1[0].point}} </p> 
                                The Max Score of second Event is : {{Maxvalue2[0].label}} -> {{Maxvalue2[0].point}} 
                </div>
                <div *ngIf='checkdetail === "Avg"'><p>The avg of {{outcomeName1}} is {{Avgvalue1}}</p> 
                                The avg of {{outcomeName2}} is {{Avgvalue2}}
                </div>
                <div *ngIf='checkdetail === "chart"'> 
                        <div class="chart-wrapper">
                                <!-- here have some problem : : Cannot read property 'legend' of undefined 
                                use ng-chart2-x -->
                                <canvas baseChart 
                                [datasets]="barChartData"
                                [labels]="barChartLabels"
                                [options]="barChartOptions"
                                [chartType]="barChartType">
                                </canvas>
                        </div>
                </div>
        </div>
</div>
<!-- <div *ngIf='checkpickup && checkpickup1'>
        <div *ngIf ="outcomeName1===outcomeName2">
                <h1>Please pick up two different outcome Topic</h1>
        </div>
</div>                  -->
<div *ngIf='checkpickup && checkpickup1'>
                <div *ngIf ="checksamestring($Event)">
                        <h1>Please pick up two different outcome Topic</h1>
                </div>
        </div>   


<div class="wrapper">
        <button mat-raised-button class="btnn" routerLink="/bloop">Return to previous page</button>
</div>   