.wrapper3> * {
    width: 50%;
    float: right;
  }
  .wrapper4> * {
    width: 50%;
    float: left;
  }
  .loader {
    border-top: 16px solid blue;
    border-right: 16px solid rgb(216, 216, 216);
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    align-content: center;
    margin-left: auto;
    margin-right: auto
  }

  .radiospace{
    margin: 1em;
}

.loadspace{
  padding-top: 10%
}

.btnn{
  margin: auto;
  display:block;
  background-color: lightgreen;
  color: black;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em;
  letter-spacing: 0.05rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  line-height: 1.5;
}

.wrapper {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }