<div class="jumbotron text-center">
        <h1>Welcome to the Run Page</h1>
        
</div>     

<div class="wrapper2">
        <label class = "lab">Select a visualization type</label>
        <mat-radio-group class= "radio" aria-label="Select an option" [(ngModel)]="radioChoice">
            <mat-radio-button class = "radiospace" value="1">Heatmap</mat-radio-button>
            <mat-radio-button class = "radiospace" value="2">Analyze Outcome Topic</mat-radio-button>
            <mat-radio-button class = "radiospace" value="3">Compare two Outcome Topic</mat-radio-button>
        </mat-radio-group>
</div>

<div class="wrapper3" *ngIf="this.list_a ?true:false" >
    <mat-form-field>
        <mat-label>Select a Run</mat-label>
        <mat-select disableRipple  [(ngModel)]="runchoice"> 
                <mat-option *ngFor="let item of model"  [value]="item.name" >{{item.name}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
This is run->{{runchoice}}


<div *ngIf="runchoice">
    <div class="wrapper"  *ngIf="radioChoice == 1?true:false">
        <button mat-raised-button class = "map_btnn" (click)="open($event)" routerLink="/heatmap" >Map It</button>
    </div>

    <div class="wrapper"  *ngIf="radioChoice == 2?true:false">
        <button mat-raised-button class = "map_btnn" (click)="open($event)" routerLink="/display-chart">Map It</button>
    </div>

    <div class="wrapper"  *ngIf="radioChoice == 3?true:false">
        <button mat-raised-button class = "map_btnn" (click)="open($event)" routerLink="/compared-two">Map It (test!)</button>
    </div>
</div>
