<!-- <!DOCTYPE html>
<html>
<head>
<title>Login Form Design</title>
    <link rel="stylesheet" type="text/scss" href="style.scss">
<body> -->
    <div class="loginbox">
      <img src="favicon.ico" class="avatar">
      <h1>Login Here</h1>
      <form id="form">
        <p>Username</p>
        <input type="text" name="" placeholder="Enter Username" id="loginUser">
        <p>Password</p>
        <input type="password" name="" placeholder="Enter Password" id="loginPassword">
        <div align="center">
          <button id="loggingin" (click)="loginValid()">Login</button><br>
          <a href="#" (click)="loginGuest()">Continue as guest user</a>
          <div *ngIf="checker">
            {{redirectFunc()}}
          </div>
        </div><br>
        <a href="#" routerLink="/register">Register/Sign-up</a><br>
        <!-- <a href="#" routerLink="/home" id="loginGuest">Sign in as Guest</a><br> -->
      </form>
    </div>
  <!-- </body>
  </head>
</html> -->