<!-- <!DOCTYPE html>
<html>
<head>
<title>Login Form Design</title>
    <link rel="stylesheet" type="text/scss" href="style.scss">
<body> -->
    <div class="loginbox">
      <img src="favicon.ico" class="avatar">
      <h1>Login Here</h1>
      <form>
        <p>Username</p>
        <input type="text" name="" placeholder="Enter Username">
        <p>Password</p>
        <input type="password" name="" placeholder="Enter Password">
        <input type="submit" name="" value="Login" routerLink="/home">
        <a href="#" routerLink="/register">Register/Sign-up</a><br>
        <a href="#" routerLink="/home">Sign in as Guest</a><br>
      </form>
    </div>
  <!-- </body>
  </head>
</html> -->