<div class="loginbox">
        <img src="favicon.ico" class="avatar">
        <h1>Account Creation Page</h1>
        <form id="form">
          <p>First Name</p>
          <input type="text" name="" placeholder="Enter First Name" id="inputFirst">
          <p>Last Name</p>
          <input type="text" name="" placeholder="Enter Last Name" id="inputLast">
          <p>Username</p>
          <input type="text" name="" placeholder="Create a Username" id="inputUser">
          <p>Create a Password</p>
          <input type="password" name="" placeholder="Enter Password" id="inputPass">
          <p>Re-enter your Password</p>
          <input type="password" name="" placeholder="Enter Password" id="inputOtherPass">
          <input type="submit" name="" value="Create Account">
          <!-- <a href="#" routerLink="/register">Register/Sign-up</a><br>
          <a href="#" routerLink="/home">Sign in as Guest</a><br> -->
        </form>
      </div>