
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @import '~@angular/material/theming';
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat-core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $my-app-primary: mat-palette($mat-indigo);
// $my-app-accent: mat-palette($mat-pink, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $my-app-warn: mat-palette($mat-red);

// // Create the theme object (a Sass map containing all of the palettes).
// $my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include angular-material-theme($my-app-theme);

// /* You can add global styles to this file, and also import other style files */
// @import url(https://fonts.google.com/?selection.family=Jomolhari);

//$primary: rgb(255, 38, 0);

// body {
//     margin: 0;
//     font-family: 'Nunito', 'sans-serif';
//     font-size: 18px;
// }

// .container {
//     width: 80%;
//     margin: 0 auto;
// }

// header {
//     background: $primary;
//     padding: 1em 0;

//     a {
//         color: white;
//         text-decoration: none;
//     }
//     a.logo {
//         font-weight: bold;
//     }

//     nav {
//         float: right;
        
//         ul {
//             list-style-type: none;
//             margin: 0;
//             display: flex;

//             li a {
//                 padding: 1em;

//                 &:hover {
//                     background: darken($primary, 10%);
//                 }
//             }
//         }
//     }
// }

// h1 {
//     margin-top: 2em;
// }

// html, body { 
//     height: 100%;
//  }
body { 
    //margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}


// .navbar-nav .nav-link {
//     margin-right: 25px;
//     margin-left: 25px;
// }
