span {
    font-weight: bold;
    background: lightgray;
    padding: .2em .8em;
    cursor: pointer;
}

.play-container {
    padding: 3em;
    border: 1px solid lightgray;
    margin-bottom: 1em;

    input {
        padding: 1em;
        margin-bottom: 2em;
    }
}
.active {
    background-color: yellow;
    border: 4px solid black;
    width: 50%;
}
.notactive {
    background-color: gray; 
}

.table-theme{
    background-color: maroon;
    border: 2px dotted black;
    width: 30%;
    margin-bottom: 1em;
}

.pic{
    float: left;
    width: 150px;
    padding-left: 20px;
    position: right;
}

.jumbotron{
    padding: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 10;
}
.jumbotronTransp {
    padding: 0px;
    margin: 10px;
    //margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.142857143;
    color: inherit;
    background-color: transparent;
 }

 .jumbotronO {
    padding: 0px;
    //margin-bottom: 30px;
    margin: 0;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.142857143;
    color: inherit;
    background-color: red;
 }



 .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }