<div class="jumbotron text-center">
    <h1>Welcome to MapRadish, {{this.User.firstname}} {{this.User.lastname}}!</h1>
</div>
<div align="center">
    <button (click)="loadData()">Load</button>
    <div *ngIf="showSpinner">
        <div class="loader"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3>Recent Runs</h3>
        </div>
    </div>
    <app-recent-runs></app-recent-runs>
</div>


<!-- <mat-card>
        <mat-card-header>
          <mat-card-title>Recent Runs</mat-card-title>
        </mat-card-header>
        <mat-card-content>
                <app-recent-runs></app-recent-runs>  
              </mat-card-content>
</mat-card> -->

<div class="jumbotron jumbotronTransp jumbotron text-center" style = "padding-top:10px;">
    <img src="assets/img/250px-Oluolu_Snorlax.png">
    <p>Time to incorporate Alice's code!</p>
    
</div>




<!-- 
<div class="webTheme">
<h1>Recent Runs</h1> -->
<!-- <div class="play-container">
    <p>You've clicked <span (click) = "countClick()">this </span>{{ clickCounter }} times.</p>
</div>

<div class="play-container">
    <p>
        <input type="text" [(ngModel)]="name"><br>
        <strong>You said: </strong> {{ name }}
    </p>
</div>

<div class="play-container" [ngClass]="setClasses()">
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
        <p>The click counter <strong>IS GREATER</strong> than 4.</p>
    </ng-template>

    <ng-template #none>
        <p>The click counter is <strong>not greater</strong> than 4.</p>
    </ng-template>
</div> -->
<!-- <app-recent-runs></app-recent-runs>

</div> -->