
.webTheme{
    background-repeat: no-repeat;
    position: center;
    background-size: cover;
    padding: 1.5em;
}

.fill{
    flex: 1 1 auto;
  }

//=== Drawing effect

// @mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
//     box-shadow: inset 0 0 0 $width $color;
//     color: $color;
//     transition: color $duration $duration/3;
//     position: relative;
    
//     &::before,
//     &::after {
//       border: 0 solid transparent;
//       box-sizing: border-box;
//       content: '';
//       pointer-events: none;
//       position: absolute;
//       width: 0; height: 0;
      
//       #{$vertical}: 0; 
//       #{$horizontal}: 0;
//     }
  
//     &::before {
//       $h-side: if($horizontal == 'left', 'right', 'left');
      
//       border-#{$vertical}-width: $width;
//       border-#{$h-side}-width: $width;
//     }
    
//     &::after {
//       $v-side: if($vertical == 'top', 'bottom', 'top');
      
//       border-#{$v-side}-width: $width;
//       border-#{$horizontal}-width: $width;
//     }
    
//     &:hover {
//       color: $hover;
      
//       &::before,
//       &::after {
//         border-color: $hover;
//         transition: border-color 0s, width $duration, height $duration;
//         width: 100%;
//         height: 100%;
//       }
      
//       &::before { transition-delay: 0s, 0s, $duration; }
      
//       &::after { transition-delay: 0s, $duration, 0s; }
//     }
//   }
  
//   .draw-border {
//     @include btn-border-drawing(#58afd1, #ffe593, 4px, bottom, right);
//   }
  
//   //=== Button styling, semi-ignore
  .btn {
    background-color: lightseagreen;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em;
    letter-spacing: 0.05rem;
    
    &:focus { outline: 2px dotted #55d7dc; }
  }
  
//   //=== Pen styling, ignore
  body { 
    padding: 10px;
    background: #1f1a25;
    display: flex; 
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

.radioinlinewrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.radio{
    display: flex;
    align-items: center;
    justify-content: center;

}

.lab{
    display: flex;
    align-items: center;
    justify-content: center;
    font: 700 1.5rem 'Roboto Slab', sans-serif;
    padding-top: 20px;
    
}

.jumbotron{
    padding: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 10;
}


.map_btnn{
    margin: auto;
    display:block;
    //background-color: maroon;
    color: black;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em;
    letter-spacing: 0.05rem;
    //border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    line-height: 1.5;
}

.newbtn{
    margin: auto;
    display:block;
    background-color: maroon;
    color: white;
}

.wrapper {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.wrapper2{
    text-align: center;
}

.wrapper3{
    text-align: center;
}

.p{
    margin: 50px;
}

.hello{
    text-align: center;
    margin: auto;
}

.h4c{
    margin-top:30px;
    margin-bottom: 0;
}

.radiospace{
    margin: 1em;
}

.rbutton{
    //margin: auto;
    display:block;
    background-color: maroon;
    color: white;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 2em;
    letter-spacing: 0.05rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    line-height: 1.5;
}
.button a {
    margin-right: 8px;
  }

  

 .loader {
    border-top: 16px solid blue;
    border-right: 16px solid rgb(216, 216, 216);
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    align-content: center;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }